<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> Customer ID : {{order.customerId}}</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="product" class="mt-4">
            {% if order %}
                <h2>Order ID</h2>
                {{ order.orderId }}

                <h2>Order Date</h2>
                {{ order.orderDate }}
            {% else %}
                Could Not find Order
            {% endif %}
        </section>
    </main>  
</body>
</html>